.App {
  /* display: flex; */
  width: 90vw;
  height: fit-content;
  align-items: center;
  background-color: white;
  overflow: auto;
  font-size: 16px;
}

.hero {
  width: 100vw;
  height: 40vh;
}

html {
  margin: none;
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
}

.container {
  padding-top: 4.6em;
  width: calc(100vw - 40px);
}
