.App {
  /* display: flex; */
  width: 100%;
  height: fit-content;
  align-items: center;
  background-color: white;
  overflow: auto;
  font-size: 16px;
}

.hero {
  width: 100vw;
  height: 40vh;
}

html {
  height: 100vh;
  width: 100%;
  margin: none;
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

body {
  width: 100%;
}

.container {
  padding-top: 4.6em;
  width: 100%;
}

.admin-blog-wrapper {
  width: 80vw;
}

.footer {
  align-self: flex-end;
}

* {
  box-sizing: border-box;
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}

.burger-menu-container {
  display: flex !important;
  flex-direction: row;
}
