@import './variables.scss';

.blog-detail-container {
  height: 100%;

  .share-icons {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2px;
  }

  .blog-post {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $off-white;
    width: 100%;
    height: 100%;

    h1 {
      font-size: 30px;
    }

    img {
      width: 60%;
      border: solid 2px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
    }
  }
  .content {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    width: 85%;
  }
}

.featured-image-wrapper {
  display: flex;
  justify-content: center;
}
