@import './variables.scss';

.cards {
  color: white;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: none;
  margin-top: 3px;
  // transform: translateX(10px);
  margin-left: 0;

  .card {
    // border-radius: 4px;
    width: 33.333333333333333333333333%;
    height: 1fr;
    // margin: 0px 2px 2px 0px;
    background-color: $light-purple;
    display: flex;
    align-items: center;
    justify-content: center;

    .price {
      margin-left: 1vw;
      // font-size: 3vw;
    }
    .percentage {
      // font-size: 0.9em;
      padding-left: 0.7vw;
    }
    .coin-name {
      padding-top: 12px;
      padding-left: 0.7vw;
      padding-bottom: 4px;
      width: 2vw;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      // margin-top: 5px;
      // margin-left: 5px;
      margin-bottom: 0px;
      justify-content: center;
      margin-right: 20px;

      span {
        margin-bottom: 0px;
        font-weight: normal;
        color: white;
        text-align: center;
        transform: translateX(-3px);
        font-size: 13px;
      }
    }
    .loading-price {
      display: flex;
      flex-direction: row;
    }
    .percentage.gain,
    .percentage.loss {
      overflow: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .arrow {
        margin-right: 5px;
      }
    }
  }

  .card.gain {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .card.loss {
    display: flex;
    justify-content: center;
  }

  .coin-label:hover {
    transform: translateY(20px);
  }
}

//
// this is to change border color according to
// if there was a loss or gain in the last ~10 seconds
//
// .card .percentage.gain,
// .card .price.gain {
//   color: $card-gain;
// }

// .card .percentage.loss,
// .card .price.loss {
//   color: $card-loss;
// }

.card .percentage.gain,
.card .percentage.loss {
  .arrow {
    margin-right: 5px;
  }
}
