@import './variables.scss';

.footer {
  box-shadow: 10px 1px 1px 1px black;
  background-color: $off-white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px 7px 0px 0px;

  h3 {
  }
  p {
    text-decoration: underline 2px dotted;
  }
}
