$navbar-color: white;
$link-padding-color: #d705fb;
$link-text-color: white;

.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 0vw;
  padding-right: 10vw;
  background-color: $navbar-color;
  height: 70px;
  align-items: center;
  box-shadow: 0px 1px 7px 3px rgba(0, 0, 0, 0.5);
}

.navbar a {
  text-decoration: none;
  background-color: $link-padding-color;
  color: $link-text-color;
  font-style: oblique 10deg;
  padding: 3px 3px 3px 10px;
  border-radius: 5px;
  width: 13vw;
}

.navbar a:hover {
  transition: 0.75s;
  padding: 10px;
  color: white;
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.5);
}

.navbar .logo img {
  height: 200px;
  position: flex-start;
  margin-top: 6px;
}
