.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 0vw;
  padding-right: 10vw;
  background-color: beige;
  height: 70px;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  background-color: orange;
  color: black;
  text-decoration: none;
  padding: 3px;
  border-radius: 5px;
}

.navbar a:hover {
  transition: 0.75s;
  padding: 10px;
  color: white;
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.5);
}

.navbar .logo img {
  height: 200px;
  position: flex-start;
}
