.DraftEditor-root {
  border: 1px solid #f1f1f1 !important;
  padding: 20px;
  border: 1px solid;
  border-radius: 15px;
}

.rdw-image-modal {
  left: -215px;
}

.rdw-emoji-modal {
  left: -169px;
}

.rdw-embedded-modal {
  left: -125px;
}
