$dark-blue: #0091ab;
$light-blue: #00a3ab;

$red: #e60000;

$purple: #7a008f;
$light-purple: #d705fb;
$dark-purple: #7a008f75;

// $orange: #ea8700;
$orange: #ff9500;

$off-white: #f1f1f1;
$eggshell-white: #f5f5f5;

$slime-green: #a7f200;

$grey: #bfbdbd;
