.what-is-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-size: 25px;
}

.what-is-container .what-is {
  background-color: beige;
  padding: 10px;
  border-radius: 10px;
  transform: translateY(-20vh);
  padding: 5vh 5vw;
  border: 5px solid purple;
  margin-bottom: 0;
  width: 85vw;
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.what-is-container p {
  line-height: 1.7rem;
  height: 100vh;
}
