.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: beige;
  height: 5vh;
  align-items: center;
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover {
  transition: 1s;
  text-decoration: underline yellow;
}
