.card {
  border-radius: 4px;
  width: 200px;
  height: 100px;
}

.card.gain {
  border: 1px solid #00b518;
}

.card.loss {
  border: 1px solid #e60000;
}

.card .name {
  padding: 8px 12px;
  font-weight: bold;
}

.card .name span {
  margin: 0px 0px 0px 4px;
  font-weight: normal;
}

.card .percentage {
  font-size: 0.9em;
}

.card .percentage.gain,
.card .price.gain {
  color: #00b518;
}

.card .percentage.loss,
.card .price.loss {
  color: #e60000;
}
